    <!-- About Section -->
    <section id="pgp" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Pretty Good Privacy (PGP)</h2>
                <p>These days is pretty easy to use PGP for signing and encrypting messages. I prefer when you use PGP when contacting me.</p>
                <p>My <a href="https://pgp.mit.edu/pks/lookup?op=get&search=0x273F03D527E7B47A">public key (27E7B47A)</a> can be found on various Open Keyservers around the internet. For example <a href="https://pgp.mit.edu">PGP MIT</a>.</p>
                <p>Fingerprint: 89CC7D62C7BDB3C295D23ED2273F03D527E7B47A</p>
            </div>
        </div>
    </section>
