    <!-- About Section -->
    <section id="projects" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Projects</h2>
                <p>I'm employed as System Engineer at <a href="https://livesport.eu">Livesport s.r.o.</a> (<a href="https://flashscore.com">FlashScore.com</a>) company, so many projects an effort is related to it and most is confidental.</p>
                <p>All of my public work can be found on <a href="https://github.com/rvojcik">GitHub</a></p>
            </div>
        </div>
    </section>
